.container{
    position: absolute;
    top: 100px;
    left: 100px;
}

.bar{
    width: 2px;
    background-color: teal;
    display: inline-block;
    margin: 0 1px;
}
  
.bar.highlighted {
    background-color: red; /* Highlighted color */
}
